inline-block(){
    display:inline-block; *display:inline; *zoom:1;
}


.grid-loading {
    position:absolute; z-index:100; 
    width:100%; height:100%; 
    margin:-2px; 
    background:url(Images/loading_icon.gif) center center no-repeat;
    background-color:rgba(255, 255, 255, 0.3); 
    filter: s("progid:DXImageTransform.Microsoft.Gradient(GradientType=0, StartColorStr='#4cffffff', EndColorStr='#4cffffff')");
}
:root .grid-loading {filter:0;} /* IE9+ */

.grid-wrap {
    td {padding:0;}
    .ok {color:#090; font-style:normal}
    .no {color:#f00; font-style:normal}
}

.grid-head, .grid-data {
    background:none; 
    width:100%; *width:auto; 
    margin:0; 
    table-layout:fixed; border-collapse:collapse; border-spacing:0; 
    text-align:center;
}

.grid-body { 
    overflow-x:hidden; overflow-y:auto; 
    margin-bottom:-1px;
}

.grid-table {
    position:relative; 
    overflow-x: auto; overflow-y:hidden; 
    _width:100%; height:100%;_height:auto; /*IE6必须显式定义宽度, IE9必须显式定义高度*/
    td { white-space:nowrap; -o-text-overflow:ellipsis; text-overflow:ellipsis; overflow:hidden;}
    td.fixed-td,
    td.last-td {border-right:0; padding:0; border-bottom:0!important;}
    td.fixed-td {width:17px;}
    .first-row td {height:0!important;border:0!important;padding:0!important;}
} 

.grid-head {
    font-weight:600; 
    td {padding:0;}
    .sortable {cursor:pointer;}
    .up, .dn {
        inline-block();
        background-position:right center; background-repeat:no-repeat; 
        padding-right:8px; 
    }
}

.grid-data {
    tr.last-row td {border-bottom:0;}
    td.fixed-td {display:none;}
    input {height:16px; line-height:16px; padding:1px 2px;}
}

.grid-foot {
    position:relative; height:30px; margin-top:-1px;
    .disabled {color:#ccc; cursor:default; background:none;}
    input {width:50px; vertical-align:-1px; text-align:center}
}


.grid-pager {
    float:left; line-height:28px;
    a, span {
        inline-block();
    }
}
.grid-counter {float:right; padding-right:10px; line-height:28px;}

.drag-handler {
    position:absolute; z-index:1;
    width:0; height:100%;
    span {
        position:absolute; z-index:99;
        display:block; width:1px; height:100%;
        cursor:col-resize; 
        background:url(Images/transparent.gif)
    }
    span.moving {
        background:#999; 
        cursor:col-resize;
    }
}

.drag-panel {
    cursor: col-resize;
    .drag-handler {width:100%;}
    .grid-data tr {background:none} /*拖动的时候避免行闪烁*/
}
/*Bugfix FF拖动线差1px对齐*/
@-moz-document url-prefix() {.drag-handler span {margin-left:-1px;}}
