
/* 主题样式 */
@css{
.grid-wrap {font-size:12px; font-family:tahoma,arial,simsun; border:1px solid #D0DADB; background:#FAF7F5;}
.grid-wrap a {color:#009794;}
.grid-title {padding-left:10px;background:#F9F9F9; color:#009794; border-bottom:1px solid #D0DADB; height:25px;line-height:25px; font-weight:600;}
.grid-body {border-top:1px solid #D0DADB;}

.grid-table td {padding:0 4px;}

.grid-head td {height:30px; height:29px\9; border-right:1px solid #D0DADB;} /*IE系列，td高度要少1像素*/
.grid-head td.colspan {border-bottom:1px solid #D0DADB;}
.grid-head .up {background-image:url(Images/up.png);}
.grid-head .dn {background-image:url(Images/dn.png);}

.grid-data {background:#f9f9f9;border-bottom:1px solid #D0DADB;}
.grid-data tr:hover,
.grid-data tr.hover {background:#fff}
.grid-data tr.row-selected {background:#FFF4E0;}
.grid-data tr.row-checked {background:#FFF4E0}
.grid-data td {height:30px; height:29px\9; border-right:1px solid #D0DADB; border-bottom:1px dashed #D0DADB;}
.grid-data tr.last-row td {height:30px\9}
.grid-data td.last-td {background:#f9f9f9;}

.grid-foot { font-size:12px; border-top:1px solid #D0DADB;}
.grid-foot a {margin-right:6px; margin-left:4px;  text-decoration:none;}
.grid-foot input.grid-pagenav {height:16px; line-height:16px; border:1px solid #C4D7D7;}


/* other */
.grid-operation a,
.grid-operation a:hover{padding:0 5px;color:#009794;text-decoration:underline;}
}